body{
    background-color: white;
    font-family: "Lato', sans-serif";
}

a {
    text-decoration: none;
}

header{
    background-color: white;
    height: 288px;
    max-height: 288px;
    background-position: center;
}

.Logo img{
    display: block;
    margin-top: auto;
    width: 100px;
    height: 75px;
}

.donatebutton{
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #396A4A;
    text-align: center;
    height: 25px;
    width: 100px;
    float: right;
    margin-left:-25px;

}

.searchbutton{
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #396A4A;
    text-align: center;
    height:25px;
    width:100px;
    float: right;
    margin-right: 5px;
}

.navbar{
    background-color: #E5F2E6;
    height:20px;
    max-height:20px;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top:50px;
}

.navbarbuttons{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align:center;
}
.item1 , .item2 , .item3 , .item4 , .item5{
    padding: 50px;
    text-align: center;
}

.leftsidenavbar{
    background-color: #E5F2E6;
    height: 600px;
    float:left;
    width: 25%;
}

.leftsidenavbar ul{
    height: 374px;
    margin-top: 50px;
}

.leftsidenavbar li{
    font-size: 20px;
    font-weight: bold; 
    padding: 10px;  
}

.sidebartitle h3{
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: -45px;
    margin-left: 30px;
}

.missionstatement{
    color: #396A4A;
    font-weight: 800;
    font-size: 65px;
    display: inline;
    padding: 50px;
}

.main{
    width: 75%;
    display: inline-block;
}

.main img{
    width: 100%;
    height: auto;
    display: inline-block;
    padding-top: 2%;
    padding-bottom: none;
    padding-top: none;
}

.main p{
    color: black;
    font-weight: 600; 
    font-size: 15px;
    display: center;
    padding-bottom: 50px;
    margin-left: 25px;
}

.newsletter{
    background-color:#F0F2E8;
    margin-top: 20px;
    width: 1050px;
    padding: 5px;
    margin:auto;
}

.newsletter h2{
    font-size: 25px;
    font-weight: 800;
    color: #396A4A; 
    text-align:center
}

.line1{
   color: #396A4A;
   font-weight:400;
   font-size:19px;
   text-align: center
}

.line2{
    color: #396A4A;
    font-weight:400;
    font-size:19px;
    text-align:center;
 }

form{
    background-color: white;
    margin-left: 350px;
    margin-bottom: 15px;
}

.emailaddress{
    font-size: 15px;
    color: black;
    background-color:#F0F2E8;
}

.signupbutton{
    font-size: 400;
    color: #F7EDDA;
    background-color:#396A4A;
}

footer{
    background-color: #396A4A;
    height: 180px;
    width: auto;
    padding:10px;
    margin-top:20px;
    margin-left:auto;
}

.q1 , .q2 , .q3contactus , .q4map , .q5{
    display:inline-block;
    width: 15%;
    margin-left: 55px
}

.q1 h2{
    font-size: 15px;
    font-weight:800;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.q1 p{
    font-size: 12px;
    font-weight: 400;
    color: white;
    width: 80px;
    padding-left: 15px;
    padding-right:15px;
}

.q2 img{
    display: right;
    margin-left: -10; 
    margin-right: 10;
    width: 100px;
    padding-left: 15px;
    padding-bottom: 30px;
}

.q3contactus h3{
    font-size: 15px;
    font-weight:900;
    color: white;
    margin: -5px;
}

.q3contactus p{
    font-size: 12px;
    font-weight: 400;
    color: white;
    padding-top: 5px;
}

.social-media-icons img{
    margin-left: -10px;
    margin-right: auto;
    height: 25px;
    max-height: 25px;
    width: 25px;
    max-width: 25px;
    padding: 10px;
}

.q4map h3{
    font-size: 15px;
    font-weight:900;
    color: white;   
}

.q4map img{
    display: right;
    margin-left: -10;
    margin-right: -10;
    margin-bottom: none;
    width: 100px;
    height: 100px;
    padding-bottom: 5px;
}

.q5 p{
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.copyrighttext{
    font-size: 15px;
    font-weight: 400;
    color: black;
    text-align: center;
}